body, html {
  margin: 0;
  padding: 0;
  font: 12pt 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  height: 100%;
}

body {
  /*display: flex;*/
  transition: background-color 0.2s;
  align-items: center;
}

#container {
  position: relative;
  max-width: 100%;
  flex: 1;
  text-align: center;
}

figure img {
  max-width:100%;
}

button {
  font-size: 60px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: dodgerblue;
  color: white;
  z-index: 999;
}

button:active {
  background-color: #00B7FF;
}

button#backButton {
  position: absolute;
  left: 50px;
  top: 50%;
}

button#nextButton {
  position: absolute;
  right: 50px;
  top: 50%;
}

.filterContainer button {
  font-size:1.5em;
}

.filterContainer fieldset{
  width: fit-content;
}

.filterContainer input, button, div, fieldset{
  margin: 5px;
}

h1{
  text-align: center;
  font-family: Impact, sans-serif;
}
#output{
  text-align: center;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  color: white;
  font-family: Impact, sans-serif;
  font-size: 64px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
#output2{
  text-align: center;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  color: white;
  font-family: Impact, sans-serif;
  font-size: 64px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
input {
  display: block;
  margin: 10px auto 10px auto;
}
form{
  display: inline-block;
}
#formWrapper{
  text-align: center;
}